body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Home {
    background-color: rgb(255, 255, 255);
    max-height: 100%;
    max-width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1em;
}

#title-label {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.filter-label-container {
    display: flex;
    min-width: 250px;
    flex-direction: row;
    justify-content: space-between;
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .filter-label-container {
        min-width: 600px; /* Adjust this value as needed */
    }
}