
.frame{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    border-radius: 10%;
    border-color: solid chartreuse;
    min-width: 90%;
    min-height: 90%;
}